.container {
  max-width: 3000px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--cor-5);
}

.botao {
  display: inline-block;
  text-transform: uppercase;
  color: var(--cor-4);
  font: 400 1.7vw/1.35 "roboto", sans-serif;
  border: .18vw solid var(--cor-4);
  border-radius: 4vw;
  padding: 1.5vw 5.5vw;
  max-width: max-content;
  cursor: pointer;
  text-align: center;
}

.botao:hover {
  background-color: var(--cor-4);
  color: var(--cor-6);
}

.botao.botao-footer {
  padding: 15px 50px;
  white-space: nowrap;
}

.botao.invertido {
  color: var(--cor-6);
  border: .18vw solid var(--cor-6);
}

.botao.invertido:hover {
  background-color: var(--cor-6);
  color: var(--cor-4);
}

@media (max-width: 740px) {
  .botao.intro {
    width: 100%;
    font: 400 2.5vw/1.35 "roboto", sans-serif;
    border: .3vw solid var(--cor-4);
    border-radius: 4.5vw;
    padding: 3vw 36vw;
  }
  .botao.lista {
    width: 100%;
    font: 400 2.5vw/1.35 "roboto", sans-serif;
    border: .3vw solid var(--cor-4);
    border-radius: 15vw;
    padding: 3vw 27vw;
  }
  .botao.diario-botao {
    width: 100%;
    font: 400 2.5vw/1.35 "roboto", sans-serif;
    border: .3vw solid var(--cor-4);
    border-radius: 15vw;
    padding: 2vw 15vw;
  }
  .botao.botao-footer {
    padding: 5px 50px;
    white-space: nowrap;
    border-radius: 8vw;
  }
  .botao.invertido {
    font: 400 3.5vw/1.35 "roboto", sans-serif;
  }
}

@media (max-width: 570px) {
  .botao.botao-footer {
    font: 400 2.5vw/1.35 "roboto", sans-serif;
  } 
}

@media (max-width: 460px) {
  .botao.botao-footer {
    padding: 15px 35vw;
    white-space: nowrap;
    border-radius: 8vw;
  }
  .botao.invertido {
    font: 400 5vw/1.35 "roboto", sans-serif;
    border-radius: 8vw;
    padding: 1.8vw 6vw;
  }
}