.font-1-b {
  font: 900 2rem/1.35 "Playfair Display", serif;
}

.font-1-l-b {
  font: 900 8vw/1.35 "Playfair Display", serif;
}

.font-1-m-b {
  font: 900 3rem/1.35 "Playfair Display", serif;
}

.font-2 {
  font: 400 1rem/1.35 "roboto", sans-serif;
}

.font-2-b {
  font: 500 1rem/1.35 "roboto", sans-serif;
}