.section-sobre {
  background-color: var(--cor-7);
}

.sobre-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 20px;
  padding: 0;
  padding-bottom: 40px;
  gap: 60px;
}

.sobre-intro-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}

.sobre-intro-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sobre-inform {
  display: flex;
  flex-direction: column;
}

.sobre-inform-imagem {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background: url('../../img/fotos/terra-background-op.jpg') no-repeat center center; 
  background-size: cover;
}

.sobre-inform-imagem h2 {
  text-align: center;
  position: relative;
}

.sobre-inform-imagem h2 span {
  display: block;
}

.sobre-inform-imagem h2::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--cor-6);
  bottom: -80px;
  left: 40%;
}

.sobre-inform-conteudo {
  padding: 40px 20px;
}

.sobre-inform-conteudo p.top {
  padding-bottom: 20px;
  width: 75%;
}

.sobre-inform-conteudo ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 10px;
}

.sobre-inform-conteudo article {
  display: grid;
  gap: 10px;
}

.sobre-inform-conteudo article p {
  width: 100%;
}

@media (max-width: 740px) {
  .sobre-intro {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .sobre-intro-conteudo h2 {
    font: 900 7vw/1.35 "Playfair Display", serif;
  }
  .sobre-intro-conteudo p {
    font: 400 4vw/1.35 "roboto", sans-serif;
  }
  .sobre-intro-imagem img {
    width: 90%;
    height: 200px;
    object-position: top;
  }
  .sobre-inform-imagem {
    height: 300px;
  }
  .sobre-inform-imagem h2 {
    font: 900 9vw/1 "Playfair Display", serif;
  }
  .sobre-inform-conteudo ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px 20px;
    margin: 0 40px;
  }
  .sobre-inform-conteudo p.top {
    width: 100%;
    font: 400 5vw/1.35 "roboto", sans-serif;
    padding-bottom: 80px;
  }
  .sobre-inform-conteudo article h3 {
    font: 400 4vw/1.35 "roboto", sans-serif;
  }
  .sobre-inform-conteudo article p {
    font: 400 3vw/1.35 "roboto", sans-serif;
  }
}