dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

.section-envio {
  background-color: var(--cor-4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 20px;
  gap: 40px;
}

.section-envio dl {
  display: grid;
  gap: 60px;
}

.dl-item {
  display: grid;
  gap: 20px;
}