dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

.section-envio {
  background-color: var(--cor-4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 20px;
  gap: 40px;
}

.section-envio dl {
  display: grid;
  gap: 60px;
}

.dl-item {
  display: grid;
  gap: 20px;
}

@media (max-width: 740px) {
  .section-envio {
    grid-template-columns: 1fr;
    padding: 0 20px 60px 20px;
    gap: 20px;
  }
  .section-envio h2 {
    font-size: 7vw;
  }
  .section-envio dl {
    gap: 40px;
  }
  .dl-item {
    gap: 10px;
  }
  .dl-item dt {
    font-size: 4vw;
  }
  .dl-item dd {
    font-size: 3vw;
  }
}