.section-revendedores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 20px;
  gap: 40px;
}

.revendedores-conteudo {
  padding-bottom: 100px;
}

.revendedores-conteudo h2 {
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 40px;
}

.revendedores-conteudo ul {
  display: grid;
  gap: 20px;
}

.revendedores-conteudo li {
  display: grid;
  gap: 10px;
}

.revendedores-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 740px) {
  .section-revendedores {
    grid-template-columns: 1fr;
    padding: 0px 20px;
    gap: 20px;
  }
  .revendedores-conteudo {
    padding-bottom: 20px;
  }
  .revendedores-conteudo h2 {
    padding-bottom: 20px;
    font-size: 6vw;
  }
  .revendedores-conteudo ul {
    padding-left: 60px;
  }
  .revendedores-conteudo li h3 {
    font-size: 4vw;
  }

  .revendedores-conteudo li p {
    font-size: 4vw;
  }
  .revendedores-conteudo li span {
    display: block;
  }
  .revendedores-imagem img {
    height: 300px;
  }
}

