h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--cor-0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 3000px;
  background-color: var(--cor-5);
}

body.sobre header {
  background-color: var(--cor-7);
}

body.diario header {
  background-color: var(--cor-4);
}

body.sobre header a,
body.sobre header p,
body.diario header a,
body.diario header p {
  color: var(--cor-6);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--cor-5);
}

@media (max-width: 740px) {
  body.sobre header #menu-id a {
  color: var(--cor-0);
  }
}