header {
  padding-bottom: 40px;
}

.logo {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  padding-top: 40px;
}

.rede-carrinho {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.carrinho-itens {
  display: inline-block;
}

.menu {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#menu-id {
  display: flex;
  gap: 40px;
}

.menu li {
  display: inline-block;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.carrinho {
  display: flex;
  gap: 5px;
}

@media (max-width: 780px) {
  .rede {
    display: none;
  }
  .menu {
    display: none;
    flex-direction: row;
    position: absolute;
    top: 85px;
    right: 10px;
    background: var(--cor-2);
    border: 1px solid var(--cor-3);
    padding: 10px;
    width: 80px;
    height: 200px;
  }
  #menu-id {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .menu.active {
    display: flex;
    flex-wrap: wrap;
  }
  .home {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  .carrinho-menu {
    display: flex;
    padding-right: 20px;
  }
  .logo {
    margin: 0 0 0 40px;
    font: 900 5vw/1.35 "Playfair Display", serif !important;
    margin-left: 20px;
  }
  .menu-toggle {
    display: block;
  }
  .carrinho {
    display: flex;
    gap: 5px;
  }
}

@media (max-width: 330px) {
  .rede {
    display: none;
  }
  .menu {
    display: block;
    background: var(--cor-5);
    border: none;
    position: static;
    width: 100%;
    height: 10px;
  }
  #menu-id {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .menu.active {
    display: flex;
    flex-wrap: wrap;
  }
  .home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    position: static;
  }
  .carrinho-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .rede-carrinho {
    display: block;
    width: 100%;
    justify-content: center;
  }
  .carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin: 20px 0 0 0;
  }
  .menu-toggle {
    display: none;
  }
}