.diario-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0 20px;
  padding-bottom: 60px;
  position: relative;
}

.diario-home::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--cor-8);
  bottom: 5px;
}

.diario-conteudo {
  margin-top: 56px;
}

.diario-conteudo p {
  padding-bottom: 10px;
}

.seta {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.seta-esquerda,
.seta-direita {
  cursor: pointer;
}

.diario-itens ul {
  display: flex;
  gap: 10px;
}

.diario-itens ul a {
  display: grid;
  gap: 10px;
}

.diario-itens li {
  display: none;
}

.diario-itens li.show {
  display: list-item;
}

