.sobre-home {
  background-color: var(--cor-4);
}

.sobre-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 0;
  gap: 40px;
}

.sobre-intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sobre-item {
  display: grid;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
}

.sobre-item a {
  box-shadow: 0 1px 0 var(--cor-1);
  max-width: max-content;
}

.sobre-informacoes {
  display: grid;
  gap: 20px;
  padding-bottom: 80px;
}

.sobre-informacoes ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.sobre-informacoes li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  position: relative;
}

.sobre-informacoes li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -20px;
  background-color: var(--cor-6);
}

@media (max-width: 740px) {
  .sobre-intro {
    display: grid;
    grid-template-columns: 1fr;
    padding: 80px 0 0 0;
    gap: 20px;
  }
  .sobre-intro img {
    height: 200px;
    width: 90%;
  }
  .sobre-item p {
    font: 400 4vw/1.35 "roboto", sans-serif;
  }
  .sobre-item a {
    font: 400 3.5vw/1.35 "roboto", sans-serif;
  }
  .sobre-informacoes ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .sobre-informacoes li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -10px;
    background-color: var(--cor-6);
  }
  .sobre-informacoes li h3 {
    font: 400 4vw/1.35 "roboto", sans-serif;
  }
  .sobre-informacoes li p {
    font: 400 2vw/1.35 "roboto", sans-serif;
  }
}

