.section-diario {
  background-color: var(--cor-4);
  padding: 20px;
  box-sizing: border-box;
}

.section-diario img {
  width: 100%;
  height: 100%;
}

.section-diario li a {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.diario-texto {
  display: grid;
  padding: 30px;
  gap: 10px;
}

li:nth-child(even) img {
  grid-column: 2;
  grid-row: 1;
}

li:nth-child(even) .diario-texto {
  grid-column: 1;
}