.produtos {
  margin: 40px 20px;
}

.produtos ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.produtos a {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.produtos a h3 {
  text-align: center;
}

.produtos a img {
  width: 100%;
  height: 100%;
}

@media (max-width: 740px) {
  .produtos ul {
    grid-template-columns: 1fr;
  }
}